@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans-Regular.ttf') format('tff');
	font-weight: 400;
	font-style: normal;
  }

@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans-Bold.tff') format('tff');
	font-weight: 700; /* Bold */
	font-style: normal;
}

:root {
	--primary-color: #007bff; /* Primary brand color */
	--secondary-color: #6c757d; /* Secondary color */
	--background-color: #f8f8f8; /* Background color */
	--header-background-color: #ffffff; /* Header background color */
	--text-color: #333333; /* Text color */

	--color1: #183446;
	--color2: #486371;
	--color3: #49bdc1;
	--color4: #ce9544;
	--color5: #fcf8ed;
	--color6: #303f47;

	--font-primary: 'Open Sans', sans-serif;
}

body {
	font-family: var(--font-primary);
  }